.dropdown {
    position: relative;
    display: inline-block;
    font-size: 25px;
    margin-right: 55px;
    margin-top: 10px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.container {
    width: 1024px;
    margin: 0 auto;
}

.header {
    margin: 0 auto;
}

a {
    color: black;
    text-decoration: none;
}

ul.menu li:hover {
    background-color: #e6e6e6;
}

li {
    list-style: none;
}

.table {
    display: table;
    text-align: center;
}

.row  {
    display: table-row;
}

.column {
    display: table-cell;
    padding: 15px;
}

.red_text{
    color:red;
}

.blue_text{
    color:blue;
}

h1{
    text-align: center;
}

.button_insert{
    background-color: #0F3066;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin-left: 50px;
}

.button_yellow{
    background-color: #F7F1D1;
    border: 1px solid black;
    padding: 3px 20px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin-left: 50px;
}

.button{
    background-color: #0F3066;
    border: none;
    color: white;
    padding: 8px 12px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin-top: 5px;
}

label{
    font-size: 20px;
    display:block;
    margin-top: 10px;
}

.button_choose{
    background-color: #0F3066;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 25px;
    font-weight: bold;
    margin-left: 103px;
    margin-top: 20px;
}

.button_logout_admin{
    color: #0F3066;
    margin-left: 175px;
    font-size: 25px;
    font-weight: bold;
    background-color: #F7F1D1;
    border: 1px solid black;
}

.button_logout_lista_examen{
    color: #0F3066;
    margin-left: 560px;
    font-size: 25px;
    font-weight: bold;
    background-color: #F7F1D1;
    border: 1px solid black;
}

.button_logout_examen{
    color: #0F3066;
    margin-left: 700px;
    font-size: 25px;
    font-weight: bold;
    background-color: #F7F1D1;
    border: 1px solid black;
}

.button_logout_lista_materie{
    color: #0F3066;
    margin-left: 535px;
    font-size: 25px;
    font-weight: bold;
    background-color: #F7F1D1;
    border: 1px solid black;
}

.button_logout_materie{
    color: #0F3066;
    margin-left: 660px;
    font-size: 25px;
    font-weight: bold;
    background-color: #F7F1D1;
    border: 1px solid black;
}

.table_head{
    font-size: 20px;
    font-weight: bold;
}
